@charset "UTF-8";
body {
  background-color: #FCFCFC;
}

h1 {
  font-family: 'Dosis', sans-serif, monospace,'Oswald', sans-serif;
}

@media (max-width: 2000px) {
  h1 {
    font-size: 40px;
  }
}

p {
  font-family: 'Noto Sans JP','Oswald', sans-serif;
}

@media (max-width: 2000px) {
  p {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 13px;
  }
}

li {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
}

.grid {
  display: -ms-grid;
  display: grid;
  z-index: 6;
}

@media (max-width: 2000px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: calc(100vw / 6) calc(100vw / 6) calc(100vw / 6) calc(100vw / 6) calc(100vw / 6) calc(100vw / 6);
  }
}

@media (max-width: 480px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: calc(100vw / 4) calc(100vw / 4) calc(100vw / 4) calc(100vw / 4);
  }
}

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10 {
  background-color: black;
}

.white {
  width: 100%;
  height: 95vh;
  background-color: white;
  position: absolute;
  z-index: 4;
}

.white .slide {
  width: 0%;
  height: 100%;
  position: absolute;
  right: 0;
  overflow: hidden;
  -webkit-transition: 1000ms linear;
  transition: 1000ms linear;
  background-color: black;
  z-index: 4;
}

header {
  width: 100%;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 95vh;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.header-container .header-menu {
  width: 100%;
  height: 60px;
  position: fixed;
  top: -60px;
  z-index: 4;
}

.header-container .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-container .header-menu ul li {
  padding: 20px;
  color: white;
}

.header-container .front-layer {
  width: 75%;
  height: 85%;
  margin: 0 25% 0 0;
  background-color: green;
  z-index: 2;
  left: -75%;
  position: absolute;
}

@media (max-width: 480px) {
  .header-container .front-layer {
    width: 75%;
    height: 85%;
  }
}

.header-container .front-layer img {
  width: 100%;
  height: 100%;
}

.header-container .back-layer, .header-container .header-title {
  width: 70%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  right: -70%;
  margin: 0 0 0 30%;
  position: absolute;
}

.header-container .header-title {
  right: 0%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

@media (max-width: 2000px) {
  .header-container .header-title {
    padding-top: 20%;
  }
  .header-container .header-title h1 {
    font-size: 50px;
  }
  .header-container .header-title p {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .header-container .header-title {
    padding-top: 50%;
  }
  .header-container .header-title h1 {
    font-size: 40px;
  }
  .header-container .header-title p {
    font-size: 20px;
  }
}

.header-container .scroll-navi {
  width: 100px;
  height: 30px;
  color: black;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  bottom: 80px;
  left: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
  z-index: 4;
}

.header-container .scroll-navi p {
  position: relative;
}

.header-container .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #000000;
  z-index: 100;
}

.about {
  margin-top: 30px;
  position: relative;
}

@media (max-width: 2000px) {
  .about {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .about {
    width: 100%;
    height: 90vh;
  }
}

@media (max-width: 2000px) {
  .about .about-container {
    width: 70%;
    height: 100%;
    background-color: aqua;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .about .about-container {
    width: 70%;
    height: 85%;
  }
}

.about .about-container .title {
  text-align: center;
}

@media (max-width: 2000px) {
  .about .about-container .title {
    width: 100%;
    height: 20%;
  }
}

@media (max-width: 480px) {
  .about .about-container .title {
    width: 100%;
    height: 10%;
  }
}

.about .about-container .image, .about .about-container .works .flex-container .text, .works .flex-container .about .about-container .text {
  width: 100%;
  height: 0%;
}

.about .about-container .txt {
  width: 100%;
  height: 80%;
}

.service {
  text-align: center;
}

.layer1 {
  width: calc(100vw/6);
  height: calc(100vw/6);
  background-color: rgba(59, 60, 65, 0.4);
  position: absolute;
  top: 10%;
  left: 0%;
}

.layer2 {
  width: calc(100vw/10);
  height: calc(100vw/10);
  background-color: rgba(102, 122, 145, 0.4);
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.layer3 {
  width: calc(100vw/8);
  height: calc(100vw/8);
  background-color: rgba(76, 76, 78, 0.4);
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.layer4 {
  width: calc(100vw/8);
  height: calc(100vw/8);
  background-color: rgba(76, 76, 78, 0.4);
  position: absolute;
  top: 20%;
  right: 20%;
}

.section-title {
  width: 100%;
  height: 25%;
  margin: 5% auto;
  text-align: center;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
}

@media (max-width: 2000px) {
  .service {
    width: 100%;
    height: 90vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 480px) {
  .service {
    width: 100%;
    height: 120vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 2000px) {
  .service .content {
    width: 33.3%;
    height: 100%;
    background-color: green;
    border: 1px solid #fff;
  }
}

@media (max-width: 480px) {
  .service .content {
    width: 90%;
    height: 33%;
    margin: 0 auto;
    background-color: blue;
    border: 1px solid #fff;
  }
}

.service .moving-border {
  width: 85%;
  height: 80%;
  position: relative;
  overflow: hidden;
  background-color: pink;
}

@media (max-width: 2000px) {
  .service .moving-border {
    margin: 15% auto;
  }
}

@media (max-width: 480px) {
  .service .moving-border {
    margin: 10% auto;
  }
}

.service .moving-border .container {
  width: 100%;
  height: 100%;
}

@media (max-width: 2000px) {
  .service .moving-border .container .content-title {
    width: 100%;
    height: 30%;
    background-color: yellow;
  }
}

@media (max-width: 480px) {
  .service .moving-border .container .content-title {
    width: 100%;
    height: 20%;
  }
}

@media (max-width: 2000px) {
  .service .moving-border .container .content-txt {
    width: 100%;
    height: 40%;
    background-color: orange;
  }
}

@media (max-width: 480px) {
  .service .moving-border .container .content-txt {
    width: 100%;
    height: 50%;
  }
}

.service .moving-border .container .content-btn {
  width: 100%;
  height: 30%;
  background-color: purple;
}

.moving-border:before, .moving-border:after {
  content: '';
  position: absolute;
  background: #fff;
  z-index: 100;
}

.moving-border:before {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
}

.moving-border:after {
  top: -100%;
  left: 0;
  width: 2px;
  height: 100%;
}

.moving-border .container:before, .moving-border .container:after {
  content: '';
  position: absolute;
  background: #fff;
}

.moving-border .container:before {
  bottom: -100%;
  right: 0;
  width: 2px;
  height: 100%;
}

.moving-border .container:after {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
}

.moving-border:hover:before {
  -webkit-animation: leftAnim .5s linear 0s forwards;
          animation: leftAnim .5s linear 0s forwards;
}

.moving-border:hover:after {
  -webkit-animation: topAnim .5s linear 0s forwards;
          animation: topAnim .5s linear 0s forwards;
}

.moving-border .container:hover:before, .moving-border .container .sphover:before {
  -webkit-animation: bottomAnim .5s linear 0s forwards;
          animation: bottomAnim .5s linear 0s forwards;
}

.moving-border .container:hover:after, .moving-border .container .sphover:after {
  -webkit-animation: rightAnim .5s linear 0s forwards;
          animation: rightAnim .5s linear 0s forwards;
}

.sphover:before {
  -webkit-animation: leftAnim .5s linear 0s forwards;
          animation: leftAnim .5s linear 0s forwards;
}

.sphover:after {
  -webkit-animation: topAnim .5s linear 0s forwards;
          animation: topAnim .5s linear 0s forwards;
}

.sphover .container:before {
  -webkit-animation: bottomAnim .5s linear 0s forwards;
          animation: bottomAnim .5s linear 0s forwards;
}

.sphover .container:after {
  -webkit-animation: rightAnim .5s linear 0s forwards;
          animation: rightAnim .5s linear 0s forwards;
}

/* 各アニメーション */
@-webkit-keyframes topAnim {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes topAnim {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@-webkit-keyframes bottomAnim {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes bottomAnim {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

@-webkit-keyframes leftAnim {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes leftAnim {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes rightAnim {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes rightAnim {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.works {
  width: 100%;
  height: 160vh;
}

.works .flex-container {
  width: 90%;
  height: 45%;
  margin: 0 auto 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: gray;
}

@media (max-width: 2000px) {
  .works .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 480px) {
  .works .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works .flex-container .image img, .works .flex-container .text img {
  width: 100%;
  height: 100%;
}

@media (max-width: 2000px) {
  .works .flex-container .image, .works .flex-container .text {
    width: 50%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .works .flex-container .image, .works .flex-container .text {
    width: 100%;
    height: 50%;
  }
}

.works .flex-container .text {
  text-align: center;
}

@media (max-width: 2000px) {
  .works .flex-container .text {
    padding: 5%;
  }
}

@media (max-width: 480px) {
  .works .flex-container .text {
    padding: 10%;
  }
}

.contact {
  width: 100%;
  height: 80vh;
  text-align: center;
}

.contact .image, .contact .works .flex-container .text, .works .flex-container .contact .text {
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.contact .image img, .contact .works .flex-container .text img, .works .flex-container .contact .text img {
  width: auto;
  height: 100%;
}

.contact .text {
  width: 80%;
  height: 40%;
  margin: 0 auto;
}

.contact .btn {
  width: 80%;
  height: 20%;
}
/*# sourceMappingURL=index.css.map */